# Intepreter and Environment
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Checkpoints and Models
*.pt
*.pth
*.ckpt
*.bin
*.pkl

# Logs and Output
*.log
out/
wandb/
runs/

# Data
input.txt
data/**/*.bin

# IDE and System Files
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/
*.json